.paginator {
    margin: 4em 0;
    text-align: center;
    .prev, .next {
        display: inline-block;
        &:hover {
            color: $primary-color;
        }
    }

    .prev + .next {
        margin-left: 1em;
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}

.center {
    text-align: center;
}